*{
box-sizing: border-box;
}

body{
display: flex;
flex-direction: column;
min-height: 100vh;
}

.skills{
display: flex;
flex-direction: row;
background-color: teal;
}

.name{
margin-right: auto;
}

ul li{
padding: 20px;
border-radius: 20px;
margin: 10px;
border: solid 2px black;
list-style-type: none;
text-shadow: 5px 5px 5px black;
}



/* PLAYING AROUND WITH THE DIVS AND TRANSITIONS  */

.play-div{
text-align: center;
color: black;
background-color: lightblue;
height: 200px;
width: 200px;
}

.play-div:hover{
 color: yellow;
 transition: 3s ease;
 transition-property: color transform;
 transform: rotateY(360deg);
}


.world-div{
color: white;
background-color: black;
text-align: center;
height: 200px;
width: 200px;
}

.world-div:hover{
color: teal;
transition-duration: 3s;
transition-property: color transform;
transform: rotateY(360deg);
}


.uni-div{
color: black;
 background-color: yellow;
 text-align: center;
 height: 200px;
 width: 200px;
}

.uni-div:hover{
color: teal;
transition: 3s;
transition-property: color transform;  
transform: rotateY(360deg);
}

.world-div,
.uni-div,
.play-div{
    padding: 20px;
    margin: 20px;
    box-shadow: 5px 5px 5px black;
  
}

/* END OF DIVS AND TRANSITIONS */







/* FOOTER */

a.twitter{
background-image: url ("images/twitter.svg");
}

footer{
margin-top: auto;
text-align: center;
background-color: black;

}




